:root {
  --green: #16c47f;
  --orange: #ff9d23;
  --white: #fff;
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 30px;
  background-color: var(--green);
  color: var(--white);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 30px;
}

header > h1 {
  font-size: larger;
}

.signBtn {
  padding: 5px 10px;
  border-radius: 3px;
}
